<section>
	<h1>About</h1>
	<h2 class="section-title">About Us</h2>
	<p>At Concept Electric Company, we understand that Omaha has a number of different electrical contractors to choose from. That's why we make sure that our quality sets us apart from the rest. From repair, remodel, to new installation of electrical equipment, you can feel confident that Concept Electric will be the right choice.</p>
	<div class="photo-container portrait">
		<img src="/images/mark_p.jpg" alt="Mark Pechar Portrait">
		<h3>Mark Pechar - Owner/Founder</h3>
	</div>
	<p>Our licensed electricians have the knowledge and experience to handle any electrical project. We may not be the biggest electrical contractor that Omaha has to offer, but when quality matters we strive to be the best.</p>
	<p>Mark Pechar, the owner and founder, began his career as an electrician in 1998 working for an Omaha based electrical contractor. In 2011 Mark Pechar started Concept Electric Company Inc. with the goal of providing the best electrical installation to the Omaha metro area, and the highest quality available.</p>
</section>

<%= erb :services %>
