<section>
	<h1>Commercial</h1>
	<h2 class="section-title">Commercial</h2>
	<ul>
		<li>Lighting Retrofits</li>
		<li>Panel Upgrades</li>
		<li>New Construction</li>
		<li>Tenant Remodel</li>
		<li>Underground Installation</li>
		<li>Security Lighting</li>
		<li>Emergency Lighting</li>
		<li>Dedicated Circuits</li>
		<li>Sub-panels</li>
		<li>Ballast/Lamp Replacement</li>
		<li>Landscape Lighting</li>
		<li>Specialty Lighting</li>
		<li>Code Violation Corrections</li>
		<li>Television Cable Lines</li>
		<li>Telephone Lines</li>
	</ul>

	<button><a href="/contact">Contact Us</a></button>

</section>

<%= erb :services %>