<footer>
	
	<div class="container">
		<section class="social-icons">
			<a href="https://www.facebook.com/Concept-Electric-Company-Inc-174607779337775/" target="_blank" title="Facebook" class="facebook">
				<img src="images/facebook_logo.png" alt="Concept Electric Facebook Page" border="0">
			</a>
			<a href="https://plus.google.com/107790823143813325439/about" target="_blank" title="Google+">
				<img src="images/google_plus_logo.png" alt="Concept Electric Google+ Page" border="0">
			</a>
			<a id="bbblink" class="rbhzbus" href="http://www.bbb.org/nebraska/business-reviews/electricians/concept-electric-in-omaha-ne-300075775#bbbseal" title="Concept Electric Co., Inc. is a BBB Accredited Electrician in Omaha, NE" style="display: block;position: relative;overflow: hidden; width: 100px; height: 38px; margin: 0px; padding: 0px;">
				<img class="bbb" style="padding: 0px; border: none;" id="bbblinkimg" src="https://seal-nebraska.bbb.org/logo/rbhzbus/concept-electric-300075775.png" width="200" height="38" alt="Concept Electric Co., Inc. is a BBB Accredited Electrician in Omaha, NE" />
			</a>
			<script type="text/javascript"> 
				var bbbprotocol = ( ("https:" == document.location.protocol) ? "https://" : "http://" ); document.write(unescape("%3Cscript src='" + bbbprotocol + 'seal-nebraska.bbb.org' + unescape('%2Flogo%2Fconcept-electric-300075775.js') + "' type='text/javascript'%3E%3C/script%3E"));
			</script>
		</section>

		<section class="address">
			<p>14502 Grover Street</p>
			<p>Omaha, NE 68144</p>
			<p><a href="tel:4029349095">402-934-9095</a></p>
		</section>

		<section class="attribution">
			<p>@ <%= Time.now.year %> Concept Electric Co. Inc.</p>
			<p>Site by <a href="http://omahaareaman.com" target="_blank">OmahaAreaMan</a></p>
		</section>
	</div>

</footer>