<footer>

	<section class="social-icons">
		
	</section>

	<section class="address">
		<p>14502 Grover Street</p>
		<p>Omaha, NE 68144</p>
		<p><a href="tel:4029349095">402-934-9095</a></p>
	</section>

	<section class="attribution">
		<p>@ <%= Time.now.year %> Concept Electric Co. Inc.</p>
		<p>Site by <a href="http://omahaareaman.com">OmahaAreaMan</a></p>
	</section>

</footer>