<section>
	<h1>Home</h1>
	<img class="mobile-logo" src="images/concept_logo.png" alt="Concept Electric Co. Inc. Logo">
	<h2 class="section-title">Who we are</h2>
	<p><strong>Concept Electric Company Inc.</strong> is a licensed, bonded and insured electrical contractor committed to providing professional electrical installation and service in the greater Omaha area. At Concept Electric Company, we combine years of experience with a dedicated work ethic on a personal level to ensure you get exactly what you want, when the job is complete.</p>
	<div class="photo-container">
		<img src="/images/concept_building.jpg" alt="Concept Electric Office" width="500" height="375">
		<h3>Concept Electric Office</h3>
	</div>
	<p>Whether it's new construction, remodel, or electrical repair, you can count on Concept Electric Company to provide an unparalleled level of service at an affordable price. We get the job done right, and we will not compromise our integrity.</p>

	<button><a href="/contact">Contact Us</a></button>

</section>

<%= erb :services %>