<section class="services-page">
	<h1>Industrial</h1>
	<h2 class="section-title">Industrial</h2>
	<div class="col1">
		<ul>
			<li>OSHA compliant</li>
			<li>Motor Controls</li>
			<li>Control Power</li>
			<li>General Lighting</li>
			<li>General Power</li>
			<li>Low Voltage Cable Install</li>
			<li>Voice/Data Cable Install</li>
		</ul>
	</div>

	<div class="col2">
		<div class="photo-container">
			<img src="/images/cec_wiring1_520.jpg" alt="Concept Electric Work">
		</div>
	</div>

	<button><a href="/contact">Contact Us</a></button>
	
</section>

<%= erb :services %>