<section>
	<h1>Industrial</h1>
	<h2 class="section-title">Industrial</h2>
	<ul>
		<li>OSHA compliant</li>
		<li>Motor Controls</li>
		<li>Control Power</li>
		<li>General Lighting</li>
		<li>General Power</li>
		<li>Low Voltage Cable Install</li>
		<li>Voice/Data Cable Install</li>
	</ul>
</section>

<%= erb :services %>