<!doctype html>
<html>
<head>
	<title>Concept Electric Company, Inc.</title>
	<link href="<%= url('/stylesheets/global.css') %>" rel="stylesheet" type="text/css">
</head>
<body>

	<%= yield %>

</body>
</html>