<header class="top-bar">
	<div id="menu-toggle">Menu</div>
	<div id="menu-title">Concept Electric</div>
</header>
<nav id="mobile-nav">
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Services</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
</nav>