<section class="nav-large">

	<div class="logo">
		<a href="/">
			<img src="/images/concept_logo.png" alt="Concept Electric Logo">
		</a>
	</div>
	<div class="nav-large-links">
		<ul class="menu-left">
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
		</ul>
		<ul class="menu-right">
			<li><a href="/services">Services</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>

</section>