<section>
	<h1>Residential</h1>
	<h2 class="section-title">Residential</h2>
	<ul>
		<li>Servicing, repair, upgrading, or replacement of residential electrical panels</li>
		<li>Troubleshooting</li>
		<li>Electric Heat</li>
		<li>Pool/Hot Tub Wiring</li>
		<li>Security Lighting</li>
		<li>Landscaping Lighting</li>
		<li>Television Cable Lines</li>
		<li>New Electrical Outlets and Lighting</li>
		<li>Code Violation Repair</li>
		<li>Underground Cable Installation</li>
		<li>New Construction Wiring</li>
		<li>Re-model/Basement Finish Wiring</li>
		<li>Sub-panels</li>
	</ul>

	<button><a href="/contact">Contact Us</a></button>
	
</section>

<%= erb :services %>