<section class="services">
	<h2 class="section-title">Services we offer</h2>
	<div class="services-container">
		<a href="/commercial"><div class="service commercial">Commercial</div></a>
		<a href="/industrial"><div class="service industrial">Industrial</div></a>
		<a href="/residential"><div class="service residential">Residential</div></a>
		<a href="/underground"><div class="service underground">Underground</div></a>
		<div class="clear"></div>
	</div>
</section>
