<section class="services">
	<h2 class="section-title">Services we offer</h2>
	<div class="service commercial">Commercial</div>
	<div class="service industrial">Industrial</div>
	<div class="service residential">Residential</div>
	<div class="service underground">Underground</div>
</section>