<section>
	<h1>Underground</h1>
	<h2 class="section-title">Underground</h2>
	<ul>
		<li>Parking Lot Lighting</li>
		<li>Landscape Lighting</li>
		<li>Trenching for Feeders and Branch Circuits</li>
		<li>Trenching for Telephone Conduits</li>
		<li>Transformer Pads</li>
		<li>Specialty Underground Fed Lighting</li>
	</ul>
</section>

<%= erb :services %>