<section class="services-page">
	<h1>Underground</h1>
	<h2 class="section-title">Underground</h2>
	<div class="col1">
		<ul>
			<li>Parking Lot Lighting</li>
			<li>Landscape Lighting</li>
			<li>Trenching for Feeders and Branch Circuits</li>
			<li>Trenching for Telephone Conduits</li>
			<li>Transformer Pads</li>
			<li>Specialty Underground Fed Lighting</li>
		</ul>
	</div>

	<div class="col2">
		<div class="photo-container">
			<img src="/images/cec_sign2_520.jpg" alt="Concept Electric Sign">
		</div>
	</div>

	<button><a href="/contact">Contact Us</a></button>

</section>



<%= erb :services %>