@import "settings";

footer {
	position: relative;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	background-color: #464543;
	color: #fff;
	margin-top: 25px;
	padding: 20px 0;
	p {
		font-size: .85rem;
		margin: 0;
	}
	.address {
		margin-top: 20px;
	}
	.attribution {
		margin-top: 15px;
	}
	.social-icons {
		text-align: center;
		img {
			border: 0;
			width: 46px;
			height: 46px;
		}
		a#bbblink {
			display: inline-block;
			top: -4px;
			.bbb {
				height: 38px;
				width: 200px;
			}
		}
		.facebook {
			img {
				margin-bottom: 1px;
				height: 45px;
			}
		}
	}
}

/* Portrait - iPhone 6+ and large Android phones */
@media (min-width: 414px) {

}

/* Landscape - iPhones 4-5 */
@media (min-width: 480px) {

}

/* Landscape - iPhone 6 and most Android phones */
@media (min-width: 569px) {

}

/* Landscape - iPhone 6+ and smaller Android tablets */
@media (min-width: 668px) {

}

/* Portrait - iPads and most Android tablets */
@media (min-width: 768px) {
	footer {
		height: 150px;
		position: relative;
		clear: both;
		.address {
			position: relative;
			float: left;
			text-align: left;
			z-index: 2;
		}
		.attribution {
			position: relative;
			float: right;
			text-align: right;
			z-index: 2;
		}
		.social-icons {
			position: absolute;
			top: 35px;
			right: 0;
			left: 0;
			z-index: 1;
		}
	}
}

/* Landscape - Desktops, iPad, and bigger Android tablets*/
@media (min-width: 1024px) {
	footer {
		.container {
			width: 1000px;
			height: 0;
			margin: 0 auto;
		}
	}
}

/* Widescreen Desktops */
@media (min-width: 1240px) {

}