.photo-container {
	margin-top: 15px;
}

/* Portrait - iPhone 6+ and large Android phones */
@media (min-width: 414px) {

}

/* Landscape - iPhones 4-5 */
@media (min-width: 480px) {

}

/* Landscape - iPhone 6 and most Android phones */
@media (min-width: 569px) {

}

/* Landscape - iPhone 6+ and smaller Android tablets */
@media (min-width: 668px) {

}

/* Portrait - iPads and most Android tablets */
@media (min-width: 768px) {
	.photo-container {
		float: right;
		width: 40%;
		margin-top: 15px;
		padding-left: 35px;
		img {
			margin-left: -20px;
		}
	}
	.portrait {
		width: 240px;
		margin-top: 0;
	}
}

/* Landscape - Desktops, iPad, and bigger Android tablets*/
@media (min-width: 1024px) {

}

/* Widescreen Desktops */
@media (min-width: 1240px) {

}