@import "settings";

footer {
	position: relative;
	bottom: 0;
	text-align: center;
	background-color: #464543;
	color: #fff;
	margin-top: 25px;
	padding: 20px 0;
	p {
		font-size: .85rem;
		margin: 0;
	}
	.address {
		margin-top: 20px;
	}
	.attribution {
		margin-top: 15px;
	}
}