@import "settings";

footer {
	position: relative;
	bottom: 0;
	background-color: #464543;
	color: #fff;
	margin-top: 25px;
	padding: 20px 0;
	p {
		font-size: 1rem;
		margin: 0;
	}
	section.attribution {
		margin-top: 15px;
	}
}