@import "settings";

body {
	margin: 0;
	padding: 0;
	background: url(/images/graph_paper_bg1.png);
	font-size: 16px;
	font-family: $main-font;
	color: $concept-black;
}
h1 {
	margin: 0;
	padding: 0;
	height: 0;
	color: transparent;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1rem;
}
p {
	font-size: 1.2rem;
	line-height: 1.5rem;
}
img {
	border: 10px solid #fff;;
}
.photo-container {
	text-align: center;
	padding: 5px 0;
	h3 {
		margin: 0;
	}
}
section {
	padding: 0 15px;
}
.section-title {
	width: 100%;
	margin: 50px auto 0 auto;
	text-transform: uppercase;
	border-bottom: 7px double $concept-green;
}
.services {
	div {
		width: 205px;
		height: 205px;
		margin: 50px auto 0 auto;
		text-transform: uppercase;
		text-align: center;
		font-size: 1.25rem;
		background-repeat: no-repeat;
	}
	.commercial {
		background: url(/images/services_commercial.png) 0 15px;
	}
	.industrial {
		background: url(/images/services_industrial.png) 0 15px;
	}
	.residential {
		background: url(/images/services_residential.png) 0 15px;
	}
	.underground {
		background: url(/images/services_underground.png) 0 15px;
	}
}
.desktop {
	display: none;
}

