@import "settings";

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 40px;
	background-color: $concept-black;
	color: $white;
	text-align: center;
	z-index: 3;
	#menu-toggle {
		position: absolute;
		top: 5px;
		left: 8px;
		width: 24px;
		height: 20px;
		background: url(/images/bars.png) no-repeat;
	}
	div {
		font-size: 1.3rem;
		text-transform: uppercase;
		text-align: center;
		padding-top: 9px;
	}
}

#mobile-nav {
	height: 0;
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	background-color: #312f2b;
	z-index: 2;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			a {
				width: 100%;
				display: inline-block;
				text-decoration: none;
				border-bottom: 1px solid #747474;
				color: $white;
				padding: 12px 0 12px 15px;
				transition: all 0.75s ease;
				&:hover {
					background-color: $concept-black;
				}
			}
		}
	}

}